*{
    box-sizing: border-box;
}
.row{
    padding: 10px;
    
}
.col{
    display: flex;
    justify-content: space-around;

}
/* #dayCard{
    overflow: auto;
}
#dayCardGastos{
    overflow: auto;
} */
#card{
    box-shadow: 2px 2px 15px rgb(4, 0, 23);
}